# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
[profile.default]
src = "src"
out = "out"
libs = ["lib"]
block_gas_limit = 999999999999999999
solc = "0.8.30"
# Print the sizes of the compiled contracts
sizes = true
# Enables or disables the optimizer
optimizer = true
# optimizer_runs = 4294967295
# CamelotFactory requires 16683 to fit within execution code size limits
# optimizer_runs = 16683
optimizer_runs = 1

ignored_error_codes = [
    2394, 
    3860, 
    5574, 
    2072
]
ignored_warnings_from = ["lib/balancer-v3-monorepo/pkg/vault/contracts/RouterCommon.sol"]
[profile.default.fmt]
skip = ["lib/"]

[lint]
exclude_lints = [
    "erc20-unchecked-transfer",
    "unused-import",
    "mixed-case-variable",
    "mixed-case-function",
    "unaliased-plain-import",
    "screaming-snake-case-immutable",
    "screaming-snake-case-const",
    "pascal-case-struct",
    "incorrect-shift",
    "divide-before-multiply",
    "modifier-style",
    "unsafe-typecast",
    "unwrapped-modifier-logic",
    "unsafe-cheatcode",
    "named-struct-fields"
]
[rpc_endpoints]
local = "http://127.0.0.1:8545"
ethereum_mainnet_infura = "https://mainnet.infura.io/v3/${INFURA_KEY}"
sepolia_infura = "https://sepolia.infura.io/v3/${INFURA_KEY}"
sepolia_alchemy = "https://eth-sepolia.g.alchemy.com/v2/${ALCHEMY_KEY}"
apeChain_rpc = "https://rpc.apechain.com"
apeChain_drpc = "https://apechain.drpc.org"
apeChain_curtis_rpc = "https://rpc.curtis.apechain.com"
